Repository monzo/progression-framework, changes with the owners that CODEOWNERS names for each.
All owners: @monzo/org-scaling-team, @monzo/web-approvers, @bobbi-monzo, @hugocornejo, @andysmart, @wpillar, @robinjmurphy, @ljkp, @raramonzo, @emmanorthcott, @jonashuckestein, @trstnthms

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @monzo/org-scaling-team

# These owners will be the default owners for everything in the frameworks folder.
frameworks/*        @monzo/org-scaling-team

# These are owners for a specific engineering file extension
*.js        @monzo/web-approvers @monzo/org-scaling-team
*.css       @monzo/web-approvers @monzo/org-scaling-team
*.json      @monzo/web-approvers @monzo/org-scaling-team

# These are owners for a specific framework area
frameworks/operations/*         @bobbi-monzo @monzo/org-scaling-team
frameworks/design/*             @hugocornejo @monzo/org-scaling-team
frameworks/engineering/*        @andysmart @wpillar @robinjmurphy @monzo/org-scaling-team

# These are owners for a specific framework file
frameworks/product.md               @ljkp @monzo/org-scaling-team
frameworks/people.md                @raramonzo @monzo/org-scaling-team
frameworks/generic.md               @emmanorthcott @monzo/org-scaling-team
frameworks/executive-support.md     @jonashuckestein @monzo/org-scaling-team
frameworks/marketing.md             @trstnthms @monzo/org-scaling-team

# These are owners for a specific engineering file or folder
src/*                   @monzo/web-approvers @monzo/org-scaling-team
stubs/*                 @monzo/web-approvers @monzo/org-scaling-team
.eslintignore           @monzo/web-approvers @monzo/org-scaling-team
.eslintrc               @monzo/web-approvers @monzo/org-scaling-team
.flowconfig             @monzo/web-approvers @monzo/org-scaling-team
.gitignore              @monzo/web-approvers @monzo/org-scaling-team
.prettierrc             @monzo/web-approvers @monzo/org-scaling-team
CODEOWNERS              @monzo/org-scaling-team
README.md               @monzo/web-approvers @monzo/org-scaling-team
gatsby-config.js        @monzo/web-approvers @monzo/org-scaling-team
gatsby-browser.js       @monzo/web-approvers @monzo/org-scaling-team
gatsby-node.js          @monzo/web-approvers @monzo/org-scaling-team
netlify.toml            @monzo/web-approvers @monzo/org-scaling-team
package.json            @monzo/web-approvers @monzo/org-scaling-team
yarn.lock               @monzo/web-approvers @monzo/org-scaling-team

Add more descriptive titles and descriptions
  frameworks/marketing.md
Owners: @trstnthms, @monzo/org-scaling-team

Remove homepage illustration
  src/components/styles.js
  src/images/intro_illustration.svg
  src/pages/index.js
Owners: @monzo/web-approvers, @monzo/org-scaling-team

Add engineering framework homepage
  frameworks/engineering/backend.md
  frameworks/engineering/data.md
  frameworks/engineering/mobile.md
  frameworks/engineering/web.md
Owners: @andysmart, @wpillar, @robinjmurphy, @monzo/org-scaling-team

Remove descriptions
  README.md
  frameworks/engineering/backend.md
  frameworks/engineering/data.md
  frameworks/engineering/mobile.md
  frameworks/engineering/web.md
  frameworks/executive-support.md
  frameworks/generic.md
  frameworks/operations/ops-individual-contributor.md
  frameworks/people.md
  frameworks/product.md
  src/components/renderers/levelledRenderer.js
  src/components/styles.js
  src/views/FrameworkView.js
Owners: @monzo/web-approvers, @monzo/org-scaling-team, @andysmart, @wpillar, @robinjmurphy, @jonashuckestein, @emmanorthcott, @bobbi-monzo, @raramonzo, @ljkp

Fix titles, remove description, remove homepage
  frameworks/marketing.md
Owners: @trstnthms, @monzo/org-scaling-team

Remove homepage illustration (#39)
  src/components/styles.js
  src/images/intro_illustration.svg
  src/pages/index.js
Owners: @monzo/web-approvers, @monzo/org-scaling-team

Clean up index state from code removal
  src/pages/index.js
Owners: @monzo/web-approvers, @monzo/org-scaling-team

Remove descriptions (#41)
  README.md
  frameworks/engineering/backend.md
  frameworks/engineering/data.md
  frameworks/engineering/mobile.md
  frameworks/engineering/web.md
  frameworks/executive-support.md
  frameworks/generic.md
  frameworks/operations/ops-individual-contributor.md
  frameworks/people.md
  frameworks/product.md
  src/components/renderers/levelledRenderer.js
  src/components/styles.js
  src/views/FrameworkView.js
Owners: @monzo/web-approvers, @monzo/org-scaling-team, @andysmart, @wpillar, @robinjmurphy, @jonashuckestein, @emmanorthcott, @bobbi-monzo, @raramonzo, @ljkp
